<h2><%= @message.name %></h2>

<div class="message">
  <div class="details"><%= @message.details %></div>

  <div class="date" style="margin-top:20px;font-size:11px;color:#666;">
	Created on <%= @message.created_at.strftime("%B %d, %Y at %I:%M %p") %>
	</div>
</div>