<h2>Add your Consumer Key and Secret</h2>

<form action="/addconsumerkey" method="POST">
  <div class="key">
		Consumer Key:
		<br/>
		<input type="text" name="consumer_key" id="consumer_key" rows="20" />
	</div>
  <div class="secret">
  	Consumer Secret:
  	<br/>
  	<input type="text" name="consumer_secret" id="consumer_secret" rows="20" />
  </div>

  <input type="submit" value="Save Consumer Key and Secret"/>
</form>