<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Sinatra OAuth API Test!</title>
  <style>
    html {
      background-color: #eee;
			font-family: Arial, sans-serif;
    }
    
    #content {
    	width: 550px;
			margin: 100px auto;
    	background-color: #fff;
    	border: 1px solid #ccc;
    	padding: 20px;
    }
		#navigation {
    	background-color: #eee;
			padding: 20px;
			margin-bottom: 20px;
			
		}
  </style>
</head>
<body>
	<div id="content">
		<h1>Sinatra OAuth API Test</h1>

		<div id="navigation">
			<a href="/">Home</a> | <a href="/messages">Messages</a>
		</div>

		<%= yield %>
	</div>
</body>
</html>